<h1>Ship Company Clients</h1>


<div class="users">
	
	<% @users.all.each do |user| %>

		<div class="user">
			<div class="card small">
    <% if user.avatar.exists? %>
      <div class="card-image waves-effect waves-block waves-light activator">
        <%= image_tag user.avatar.url %>
      </div>
    <% else %>
      <div class="card-image waves-effect waves-block waves-light activator">
        <%= image_tag 'defship.jpg' %>
      </div>
    <% end %>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= user.full_name %><i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= user.full_name %><i class="material-icons right">close</i></span>
      <p><%= user.email %></p>
      <%= link_to "#{user.first_name}'s Profile", user, :class => 'btn waves-effect waves-light cyan darken-1' %>
    </div>
  </div>
	
		</div>


	<% end %>

</div>