<h1>Hire A Ship</h1>

<table class="jobs-table responsive-table highlight">
  <thead>
    <tr>
        <th>Job Name</th>
        <th>Number of Containers</th>
        <th>Cost</th>
        <th>Poster</th>
        <th>Hire a Boat</th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
	    <% if job.available == false %>
	    <% else %>
		    <tr class="job-row">
		      <td><%= link_to "#{job.job_name}", job %></td>
		      <td><%= job.containers %> Containers</td>
		      <td>₪ <%= job.cost %>.00</td>
		      <td><%= link_to "#{job.user.full_name}", job.user %></td>
		      <td>
		        <div class="input-field col s10">
		          <%= form_with model: @new_bj, remote: true do |f| %>
								<%= f.hidden_field :job_id, value: job.id %>
								<%= f.select(:boat_id) do %>
									<option value="" disabled selected>Select a Ship</option>
									<% @boats.each do |boat| %>
										<% if boat.available == false %>
										<% else %>
											<option value="<%= boat.id %>" class=""><%= boat.name %> | Containers: <%= boat.capacity %></option>
											<% end %>
									<% end %>
								<% end %>
								<%= f.submit 'Book Boat', class: 'btn waves-effect waves-light' %>
							<% end %>
		        </div>
		      </td>
		    </tr>
		  <% end %>
    <% end %>
    
  </tbody>
</table>

<br>
<hr>
<br>

<h2>Boats Assigned to Jobs</h2>


<table class="jobs-table responsive-table highlight">
  <thead>
    <tr>
        <th>Job</th>
        <th>Boats</th>
    </tr>
  </thead>

  <tbody class="new-bj-table">
    <% @jobs.each do |job| %>
    <tr class="bj-test ">
      <td><%= link_to job.job_name, job %></td>
      <td>
      	<% job.boat_jobs.each do |bj| %>
        <div class="boat-loaded">
      		<p class="bj-boat"><%= bj.boat.name %></p>  <br>
      		<%= link_to "Nix Contract", bj, method: :delete, :class => 'destroy_boat_job', remote: true %> <hr> <br>
        </div>
      	<% end %>
      </td>
    </tr>
    <% end %>

    
  </tbody>
</table>




<script>
$(document).ready(function() {
  $('select').material_select();
});
</script>
