
<h1>This is the Boat Index</h1>


<div class="boats">
	
	<% @boats.all.each do |boat| %>

		<div class="boat">
			<div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <%= image_tag boat.avatar.url, :class => 'activator' %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= boat.name %><i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= boat.name %><i class="material-icons right">close</i></span>
      <p>Current Locaton: <%= boat.location %></p>
      <p>Max Capacity: <%= boat.capacity %></p>
      <p>Port of Origin: <%= boat.home_port %></p>
      <p>Owner: <%= boat.user.full_name %></p>
      <%= link_to "#{boat.user.first_name}'s Profile", boat.user %>
    </div>
  </div>
	
		</div>


	<% end %>

</div>
