
<h1>Create a New Boat</h1>


<%= form_with model: @boat, local: true, url: boats_path, html: { multipart: true } do |f| %>

  <% if @boat.errors.any? %>

    <div id="error_details">

      <h2><%= pluralize(@boat.errors.count, "error") %> prohibited this boat from being saved:</h2>

      <ul>

	      <% @boat.errors.full_messages.each do |message| %>

	        <li><%= message %></li>

	      <% end %>

      </ul>

    </div>

  <% end %>

	<%= f.hidden_field :user_id, value: current_user.id %>
	<%= f.hidden_field :available, value: true %>
	<%= f.text_field :name, placeholder: 'Ship Name' %>
	<%= f.text_field :capacity, placeholder: 'Capacity' %>
	<%= f.text_field :home_port, placeholder: 'Port of Origin' %>

	<br>
	<br>

	<%= f.file_field :avatar, :class => 'btn waves-effect waves-light green darken-1' %>

	

	<%= f.label :avatar, "You must include a glorious photograph:" %>

	<br>
	<br>

	<%= f.label :location, "Choose a location to build the boat:" %>
	<%= f.select(:location, @locations, {:disabled => "", :selected => ""}, { :class => 'waves-effect waves-light' }) %>

	<br>
	<br>

	<%= f.submit "Add Ship To Inventory", :class => "btn waves-effect waves-light blue darken-3" %>

<% end %>
